* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: #fff;
}
.container {
  position: relative;
  width: 960px;
}
@media (max-width: 1000px) {
  .container {
    width: 100%;
  }
}
.container #header {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 10px;
}
.container #message {
  width: 100%;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px;
  color: #144955;
}
.container #create {
  margin: 20px 10px;
}
.container #create input {
  width: 100%;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #e0e1e2;
  color: #144955;
}
.container #create input:focus {
  border: 1px solid #144955;
}
.container #create button {
  font-size: 16px;
  margin: 5px 0px;
  padding: 10px 15px;
  background: #e0e1e2;
  border: unset;
  font-weight: bold;
  color: #144955;
  border-radius: 5px;
}
.container .card {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  color: #144955;
  transition: 0.5s;
}
.container .card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .card .address {
  font-size: 16px;
  font-weight: bold;
}
.container .card .date {
  font-size: 12px;
}
.container .card .content {
  font-size: 20px;
}
.container .card .reactions {
  font-size: 16px;
  color: #F27405;
  font-weight: bold;
}
.container .card .reactions .like {
  cursor: pointer;
}